
table.masterlist {
	width: 100%;
	border-collapse: separate;
	border-color: black;
	border-left: 1px solid #aaa;
}

table.masterlist th {
	background-color: #4CAF50;
	text-align: left;
}

table.masterlist th, table.masterlist td {
	padding: 10px;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
}



form.userform{
	margin: 20px 0px 25px 100px;
}