@import 'https://fonts.googleapis.com/css?family=Montserrat';
body{
    /* max-width: 500px; */
    margin: auto;
    /* margin-top: 200px; */
    background: linear-gradient(-45deg, #61ea11, #779c06, #405403ed, #e16115);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    font-family: 'Montserrat';
    padding-bottom: 900px;
}
::placeholder{
    color: green;
}
#entercode{
    margin-left: 91px;
    margin-top: 16px;
}
input { 
    padding: 10px 10px 10px 10px;
}
label{
    font:30px;
}
form{
    max-width: 400px;
    margin: auto;
    margin-top: 130px;
    padding-top: 138px;
}
.progress{
    padding-top: 90px;
}
.progress h2{
    font-size: 20px;
    padding-left: 10px;
}
.progress img{
    padding-top: 15px;
}
button{
    font-weight: bold;
    padding: 14px 14px 14px 14px;
    border-radius: 45px;
    font-family: 'Audiowide';
}
#verifylabel{
    font-weight: bold;
    padding-left: 110px;
    font-size: 25px;
}
#verifycode{
    border-radius: 5px;
    margin-left: 98px;
    margin-top: 39px;
}
.verifybtn{
    margin-left: 154px;
    margin-top: 32px;
}
.enterbtn{
    font-weight: bold;
    margin-left: 140px;
    margin-top: 12px;
}
#submitlabel{
    font-weight: bold;
    padding-left: 64px;
    font-size: 25px;
}
.progress{
    max-width: 150px;
    margin: auto;
    margin-top: 190px;
}
@keyframes gradient {
    0% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 10% 50%;
    }
}
@media only screen and (max-width: 350px) {

.verifybtn{
    margin-left: 10px;
}
#verifycode{
    margin-left: 10px;
}
#submitlabel{
    font-size: 19px;
    padding-left: 10px;
}
.verify{
    margin-left: -80px;
}
div.warning{
    margin-left: 40px;
}

