* {
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
}

.header {
    position: sticky;
    top: 0;
    z-index: 99;
}

body,
html {
	padding: 0;
	margin: 0;
	/* 	height: 100%; */
	width: 100%;
	box-sizing: border-box;
	/* background-image: url("../img/new.jpg"); */
	/* background-attachment: fixed; */
	/* background-size: cover; */
	/* background-position: center; */
	/* background-position-y: -131px; */
}

.logger {
	text-align: right;
	padding-right: 5px;
}

.container {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* margin-bottom: 200px; */
}

.side-bar {
	height: 70%;
	float: left;
	width: 50px;
	/* background: #1626c0; */
	transition: width 1s;
	overflow: hidden;
	position: fixed;
	border-radius: 12px;
	top: 175px;
	/* margin-bottom: -142px; */
	box-shadow: 0px 10px 20px 0px grey;
	backdrop-filter: blur(50px);
}

.side-bar:hover {
	width: 190px;
}

.side-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	/* border-radius: 31px; */
}

i {
	margin-right: 18px;
}

.side-bar ul li a {
	display: block;
	width: 199px;
	padding: 17px 16px;
	height: 100%;
	text-decoration: none;
	/* border: 1px solid black; */
	/* 	outline: 3px solid chocolate; */
	/* 	outline-offset: -5px; */
	font: menu;
	font-size: 14px;
	box-sizing: border-box;
	color: #000000;
	font-size: 17px;
}

.side-bar ul li i {
	width: 15px;
	box-sizing: border-box;
}

.info-tab {
	/* float:right; */
	height: 100%;
	/* overflow: hidden; */
	padding-left: 75px;
	/* 	position: absolute; */
	/* left: 111px; */
	transition: margin-left 1s;
	/* backdrop-filter: blur(0px); */
}

.tab {
	padding-top: 10px;
}

.tab button {
	width: 90px;
	height: 50px;
	margin: 0px;
	outline: none;
	border: none;
	transition: 0.8s;
	background: none;
	display: inline-block;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 18px;
}

.tab button:hover {
	background: rgb(0, 0, 0);
	color: #ead800;
}

.tab button:focus {
	background: rgb(0, 255, 213);
}

.tab button.active {
	background: #c0bb1600;
}

.change-btn {
	width: 214px;
	height: 25px;
	margin: 4px;
	outline: none;
	border: 1px solid;
	transition: 0.8s;
	background: brown;
	display: inline-block;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 4px;
}

.change-btn:hover {
	background: rgb(0, 0, 0);
	color: snow;
}

.change-btn:focus {
	background: rgb(0, 255, 213);
}

.tab-wrapper {
	/* border: 1px solid slateblue; */
	height: 100%;
	padding: 5px;
	margin-right: 7px;
	border-radius: 8px;
	/* margin-bottom: 6px; */
	/* box-shadow: 0px 0px 0px 0px grey; */
	/* background-color: #2c5e81; */
	/* backdrop-filter: blur(20px); */
	padding: 5px;
}

.info-tab h1.heading {
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	border: 1p;
	/* border-top: 1px solid slateblue; */
	/* border-radius: 8px; */
	/* border-right-color: white; */
	/* border-bottom: 1px solid slateblue; */
	text-align: center;
}

.profile-img {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	padding-right: 0;
	margin: 0;
}

.profile-info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.profile-info span {
	padding: 5px;
	display: inline;
	/* text-align: center; */
	/* box-shadow: 0px 0px 4px 0px #2b1a1a; */
	/* backdrop-filter: blur(99px); */
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 100;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	/* width: 50%; */
	z-index: 99;
}

.password-reset-content {
	display: flex;
	flex-direction: column;
}

.info {
	display: flex;
	flex-direction: column;
}

input.invalid {
	border: 2px solid red;
}

input.valid,
textarea.valid {
	border: 2px solid green;
}

.error {
	display: none;
	margin-left: 10px;
}

.error_show {
	color: red;
	font-size: 105%;
	margin-right: 5vw;
}

#courses-tab {
	padding-bottom: 177px;
	backdrop-filter: blur(50px);
	border-radius: 20px;
	padding: 9px;
}

#profile-tab {
	padding-bottom: 45px;
	/* backdrop-filter: blur(50px); */
	border-radius: 20px;
}

div.column {
	position: static;
	background: #d4242400;
	padding-left: 10px;
	padding-bottom: 5px;
	bottom: 0;
	font-weight: 800;
	color: black;
}

div.column h3 {
	padding: 15px 0px 0px 15px;
	font-size: 22px;
	font-family: sans-serif;
	color: white;
	z-index: 5;
	font-weight: 800;
	color: black;
}

div.column ul {
	list-style: none;
	font-size: 16px;
	color: white;
}

.info {
	background: #4dca2400;
	width: 100%;
	border-radius: 90px;
	margin: 3px;
	/* backdrop-filter: blur(330px); */
	font-weight: 900;
}

div.column ul li {
	padding-bottom: 10px;
	font-weight: 800;
	color: black;
}

div.icon1 {
	float: left;
	margin-left: 15px;
}

footer {
	margin-left: 80px;
	margin-right: 8px;
	transition: margin-left 1s;
}

.navbar {
	display: none;
}

.navbar-icon {
	display: none;
}


@media only screen and (max-width: 768px) {
	.profile-img {
		position: relative;
		display: flex;
		align-items: center;
		/* justify-content: center; */
		/* flex-direction: row; */
		width: 100%;
		/* padding-right: 48px; */
		/* margin: 15px; */
		/* padding-left: 48px; */
		/* right: -20px; */
		align-content: center;
	}

	.profile-info {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		/* align-content: end; */
		width: 100%;
		/* padding-left: 40px; */
	}

	.nts-text1 span {
		display: none;
	}


	.side-bar {
		display: none;
	}

	.info-tab {
		/* float: right; */
		height: 100%;
		/* overflow: hidden; */
		padding-left: 16px;
		padding-right: 16px;
		/* position: absolute; */
		/* left: 111px; */
		/* /* transition */
	}

	footer {
		margin-left: 0px;
		margin-right: 0px;
		bottom: 0;
		position: relative;
	}


	.navactive {
		display: block;
		position: sticky;
		position: -webkit-sticky;
		top: 100px;
		height: 204px;
		animation-name: navbar;
		animation-duration: 500ms;
		overflow: hidden;
		transform: scale(1);
		/* box-shadow: 10px 10px 8px #888888; */
		/* padding: 9px; */
		margin: 9px;
		border-radius: 15px;
		backdrop-filter: blur(50px);
		z-index: 99;
	}

	.navbar {
		display: block;
		height: 0px;
		overflow: hidden;
	}

	@keyframes navbar {
		from {
			height: 0px;
			transform: scale(0);
		}

		to {
			height: 204px;
			transform: scale(1);
		}
	}

	.navbaractive {
		display: block;
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		min-height: 204px;
	}

	.navactive ul {
		display: block;
		list-style-type: none;
		text-align: center;
		padding: 0;
		margin: 0;
		/* list-style-type: none; */
		background-color: #fff050;
		box-shadow: 10px 10px 8px #888888;
		/* opacity: 3.9; */
		backdrop-filter: blur(50px);
	}

	.navactive ul li a {
		width: 100%;
		text-decoration: none;
		color: #050506;
		font-weight: 900;
	}

	.navactive ul li a i {
		text-decoration: none;
		color: #161619;
		float: left;
	}

	.navactive ul li {
		padding: 5px;
		background-color: #0000000d;
		text-align: center;
		font-size: 20px;
	}

	.navbar-icon {
		display: block;
		padding-left: 10px;
		position: sticky;
		position: -webkit-sticky;
		top: 50px;
		width: 97px;
		height: 47px;
		/* backdrop-filter: blur(50px); */
		/* box-shadow: 0px 0px 20px 0px grey; */
		margin: 9px;
		border-radius: 180px;
		/* align-items: baseline; */
		z-index: 99;
		background-color: #1626c000;
	}

	.navbar-icon img {
		height: 50px;
		z-index: 999;
	}

	.logo {
		width: 100px;
		height: 100px;
		float: left;
	}
}