*{
  
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  
}
.logger {
  text-align: right;
}
body{
	background:  #e6ffe6;
}
.num {
  position: absolute;
  right: -4px;
  top: 27px;
  color: red;
}
.numberCircle {
    top: 136px;
    left: 27px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 1px;
    background-color: red;
    border: 2px solid black;
    color: black;
    text-align: center;
    font: 10px Arial, sans-serif;
    font-weight: bold;
}
.change{
	float: right;
	margin: 20px;
	font-size: 20px;
	text-decoration:underline;
}
.header h1 {
  padding-top: 15px;
}

.dash{
	padding: 10px;
	text-align: right;
}
main h1{
	padding-left: 10px;
	color: #004d00;
}
div.search form input {
  width:60%;
  height: 30px;
  margin:10px 0px 10px 5px;
  padding: 4px;
  border-radius: 2px;
}

table.masterlist {
	width: 100%;
	border-collapse: collapse;
}

table.masterlist th {
	background: #00ff00;
	text-align: left;
}

table.masterlist th, table.masterlist td {
	padding: 10px;
	border-bottom: 1px solid #aaa;
}
table.masterlist td {
	background:  #99ff99;
}
table {
	margin-bottom: 0px;
}


div.column{
  position: relative;
  background: #3a3a3a;
  padding-left: 10px;
  padding-bottom: 2px;

}
div.column h3{
  padding: 15px;
  padding-bottom: 5px;
  font-size: 22px;
  font-family: sans-serif;
  color: white;
}

div.column ul{
  list-style: none;
  font-size: 16px;
  color: white;
}
div.column ul li{
  padding-bottom: 10px;
}

div.icon1{
  float: left;
  margin-left: 15px;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;

}
@media only screen and (max-width: 900px) {
  ul{
    display: none;
  }
}