@charset "UTF-8";
  .crest img {
    width: 300px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left:10px;
    float: left;
  }
  .nurse img{
    width: 350px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left:10px;
    float: right;
  }
  .nursing img{
    margin-left: 20px;
    width: 350px;
    padding-top: 300px;
    padding-right: 20px;
    padding-left:10px;
    float: right;
  }
  body{
    background-color:  rgb(140, 190, 199);
    text-align: center;
  }
 body h1{
    padding-top: 20px;
    text-align: 30%;
 }
 body table{
     margin-top: 30px;
     margin-left: 150px;
    border-spacing: 5px;
 }
 body h3{
     padding-top: 20px;
     text-align: center;
 }
 .icon {
	padding: 10px; 
	padding-left: 4px;
	float: right;
}
.top{
    float: right;
	width: 80px;
	padding: 10px;
	padding-top: 12px; 
	font-size: 19px;
	
}
.top a{
	color:#333333;
}
